@font-face {
    font-family: Exo;
    src: url("../fonts/Exo-VariableFont_wght.ttf");
}

* {
    text-decoration: none;
    box-sizing: border-box;
    letter-spacing: 1.2px;
    color: #3c3c3c;
    user-select: none;
    font-weight: 550;
    font-family: "Exo", sans-serif;
}

*:focus {
    outline: none;
}

body::-webkit-scrollbar {
    width: 0.2em;
    background-color: #f5f5f5;
}

body::-webkit-scrollbar-thumb {
    background-color: #6881ff;
}

body {
    margin: 0;
    padding: 0;
    background-color: #ffffff;
}

p {
    margin: 0;
    padding: 0;
    text-shadow: 0px 0px 4px #0000003b;
}


#indexHeader {
    display: flex;
    width: 100%;
    margin: 0;
    padding: 0;
    justify-content: space-between;
    align-items: center;
    height: 3em;
    position: fixed;
    z-index: 1111;
    background-color: #f6f6f6;
    box-shadow: 0 0 8px 0 #1e1e1ead;
}

#indexHeader a p {
    font-size: 1.8rem;
    font-weight: 600;
}

#indexHeader p {
    font-size: 0.9rem;
    font-weight: 500;
}

.dolarActual {
    padding-right: 5%;
}

#indexHeader a {
    margin-left: 5%;
}

.ingresarbtn {
    display: none;
}

.textHeader {
    padding-top: 9%;
    height: 85vh;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('../img/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: inset 2px 2px 12% 2px black;
}

.ImagenHeader {
    margin-left: auto;
    /* Empuja el logo hacia la derecha */
}

.ImagenHeader img {
    width: 70%;
    /* El tamaño del logo, puedes ajustar como desees */
    max-width: 550px;
    /* Asegúrate de que la imagen no supere este tamaño */
    height: auto;
    /* Para mantener la proporción */
    position: absolute;
    box-sizing: border-box;
    bottom: 40%;
    right: 0;
    margin-left: auto;
    /* Empuja el logo hacia la derecha */
}

.containerBg {
    padding-top: 1.5%;
}

.mgContainer {
    padding-left: 2rem;
}

.title {
    font-size: 1.8rem;
    width: 55%;
    color: #ffea4b;
}

.subtitle {
    margin-top: 4%;
    font-size: 1rem;
    font-weight: 560;
    width: 50%;
    color: #f4f4f4;
}

.ingTitle {
    font-size: 1.6rem;
    font-weight: 600;
    margin-top: 3.3%;
    color: #e7e7e7;
}

.ingComo {
    margin-top: 3%;
    border-radius: 12px;
    background-color: #5487ffe3;
    width: 40%;
}

.ingComoBtn:focus {
    outline: none;
}

.ingresarBtn {
    padding: 2%;
    width: 100%;
    cursor: pointer;
    font-weight: 600;
    border: none;
    display: flex;
    align-items: center;
    border-radius: 5px;
    font-size: 1.1rem;
    letter-spacing: 0.2rem;
    justify-content: center;
}

.ingresarBtn p {
    color: white;
    margin: 0 5% 0 0;
}

.menuDesplegable,
.ingresarBtn {
    background-color: #4a73d3;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}



.menuDesplegable {
    display: none;
    position: relative;
    left: 0;
    background-color: #3f62b6;
    width: 100%;
    z-index: 1;
    box-shadow: 0 7px 6px 0 #12121251;
}

.menuDesplegable ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.menuDesplegable li {
    margin-bottom: 10px;
}

.menuDesplegable a {
    display: block;
    padding: 2%;
    text-decoration: none;
    color: #ffffff;
    letter-spacing: 1.3px;
    font-size: 1rem;

    font-weight: 500;
}

.menuDesplegable li:hover {
    background-color: #ededed20;
}

.btnImg {
    width: 3.5%;
    filter: invert(1) brightness(2);
    margin-right: 5%;
}

/* Listas */
.listDescription {
    display: flex;
    width: 100%;
    position: relative;
    margin-top: -2.5%;
    justify-content: center;
    flex-wrap: wrap;
}

.listShape {
    background-color: white;
    width: 30%;
    height: 30vh;
    position: relative;
    padding: 2%;
    border-radius: 5px;
    margin-right: 2%;
    box-shadow: 0px 1px 7px 0px #38373789;
}

.text-list-Bod {
    font-weight: 550;
    font-size: 0.8rem;
    color: #605f5f;
    margin-top: 7%;
}

.listTitle {
    font-weight: 600;
    font-size: 1.2rem;
}   

.listGo{
    width: 8px;
    margin-left: 8px;
}
.listShape:hover .ir {
    margin-right: 10%;

    
}

.ir {
    display: flex;
    align-items: center;
    justify-content: right;
    position: absolute;
    margin-right: 12%;
    margin-bottom: 5%;
    bottom: 0;
    right: 0;
    transition: all ease 0.2s;
}

.ir p {
    margin-right: 3%;
    color: #6881ff;
}

hr {
    border: solid #cbcbcb 1.2px;
}

/* ABOUT US */
#aboutUs {
    background-color: #f9f9f9; /* Color de fondo moderno */
    padding: 4% 2%;
    border-radius: 10px;
    
    margin-top: 250px;
}

.qHacemos {
    font-size: 2.5rem; /* Tamaño de fuente más grande */
    font-weight: 700;
    color: #2c3e50; /* Color de texto atractivo */
    text-align: left; /* Centrar el título */
    margin-bottom: 40px; /* Espacio debajo del título */
}

.separaicionAboutUs{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: ce;
}

.listInfoDescript {

    width: 100%; /* Ocupa el 100% del ancho */
}

.listInfoShape {
    background-color: #ffffff; /* Color de fondo blanco */
    width: 80%; /* Ancho en pantallas grandes */
    max-width: 900px; /* Limitar el ancho máximo */
    margin: 10px 0; /* Espaciado entre elementos */
    border-radius: 10px; /* Bordes redondeados */
    padding: 20px; /* Espaciado interno */
    box-shadow: 0 2px 12px rgba(0, 0, 0, 0.1); /* Sombra para profundidad */
    transition: transform 0.3s; /* Efecto de transición al hover */
}

.listInfoShape:hover {
    transform: translateY(-5px); /* Efecto de levantamiento al pasar el mouse */
}

.listInfo p {
    margin: 10px 0; /* Espacio alrededor del texto */
    font-size: 1rem; /* Tamaño de fuente */
    line-height: 1.5; /* Altura de línea para mejor legibilidad */
    color: #34495e; /* Color del texto */
}

.infoImg {
    width: 40px; /* Tamaño de la imagen */
    margin-bottom: 10px; /* Espacio debajo de la imagen */
}

.membersImg {
    max-width: 315px; /* Ancho completo para la imagen */
    border-radius: 15px; /* Bordes redondeados */
    margin-right: 12em;
  
}



/* Responsive Styles */
@media (max-width: 768px) {
    #aboutUs {
        padding: 2% 1%; /* Menos padding en móviles */
    }

    .qHacemos {
        font-size: 2rem; /* Tamaño de fuente más pequeño */
    }

    .listInfoShape {
        width: 100%; /* Ancho más pequeño en móviles */
    }

    .membersImg {
        display: none;
    }
    
}

@media (max-width: 480px) {
    .qHacemos {
        font-size: 1.5rem; /* Tamaño de fuente aún más pequeño */
    }

    .listInfoShape {
        padding: 15px; /* Menos padding en móviles pequeños */
    }

    .listInfo p {
        font-size: 0.9rem; /* Texto más pequeño */
    }
}

/* Responsive Styles */
@media (max-width: 768px) {
    .listInfoDescript {
        width: 100%; /* Asegurar que ocupe todo el ancho */
    }
    
    .membersImg {
      display: none;
    }
}

@media (max-width: 480px) {
    .qHacemos {
        font-size: 2rem; /* Ajustar tamaño de título para móviles */
    }

    .listInfoShape {
        padding: 1rem; /* Reducir el padding en móviles */
    }

    .infoImg {
        width: 10%; /* Ajustar tamaño de imagen en móviles */
    }
}


/* REGISTRO INV */
#RegistroInv {
    height: 20vh;
}

#Movimientos {
    max-width: 100%;
    margin: auto;
    padding: 20px;
}

.buscador {
    background: #FFFFFF;
    /* Fondo blanco para el buscador */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    gap: 10px;
    /* Espaciado entre elementos */
}

.buscador h1 {
    font-size: 24px;
    color: #333;
}

.buscador p {
    margin: 0;
}

.buscador select,
.buscador input {
    padding: 10px;
    border: 1px solid #E0E0E0;
    border-radius: 4px;
}

.buscador select:focus,
.buscador input:focus {
    border-color: #4166be;
    /* Color de enfoque */
    outline: none;
}

.buscador button {
    background-color: #4166be;
    /* Color de fondo del botón */
    color: white;
    border: none;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
}

.buscador button:hover {
    background-color: #3d227c;
    /* Color de hover */
}

.tableMovs {
    margin-top: 20px;
    background: #FFFFFF;
    /* Fondo blanco para la tabla */
    border-radius: 8px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    /* Para evitar que el borde redondeado se rompa */
}

.tableMovs h1 {
    padding: 15px;
    background: #4166be;
    /* Fondo de encabezado */
    color: white;
    /* Color del texto */
    margin: 0;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th,
td {
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid #E0E0E0;
    /* Línea separadora */
}

tr:nth-child(even) {
    background-color: #F9F9F9;
    /* Color de fila par */
}

tr:hover {
    background-color: #E0E0E0;
    /* Color de hover en filas */
    transition: background-color 0.3s;
}

.total {
    margin-top: 20px;
    background: #FFFFFF;
    /* Fondo blanco para el total */
    border-radius: 8px;
    padding: 15px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

.total h3 {
    margin: 5px 0;
    /* Espaciado entre títulos */
    color: #333;
}

/* Ajustes para pantallas más pequeñas */
@media (max-width: 768px) {
    body {
        font-size: 16px;
        /* Mejorar la legibilidad en dispositivos pequeños */
    }

    #indexHeader {
        
        /* Cambiar a columna en pantallas pequeñas */
        align-items: flex-start;
        /* Alinear a la izquierda */
       padding: 5px;
        /* Espaciado interno más consistente */
    }

    .textHeader {
        height: auto;
        /* Permitir que sea flexibles y no se corte */
        padding: 20px 0;
        /* Padding superior e inferior */
    }

    .ImagenHeader img {
        width: 90%;
        /* Ajustar el tamaño de la imagen */
        max-width: 300px;
        /* Limitar el ancho máximo */
        margin: 0 auto;
        /* Centrar imagen */
        display: block;
        /* Asegurate que sea un bloque */
    }

    .buscador {
        padding: 10px;
        /* Agregar espaciado interno */
    }

    .title {
        font-size: 1.8rem;
        /* Ajustar tamaño de título */
        text-align: center;
        /* Centrar título */
    }

    .subtitle {
        font-size: 1rem;
        /* Aumentar tamaño de subtítulo */
        text-align: center;
        /* Centrar subtítulo */
    }

    .listShape {
        width: 90%;
        /* Hacer que las listas ocupen más espacio */
        height: auto;
        /* Permitir que el tamaño sea automático */
        margin: 10px auto;
        /* Centrarlas */
    }

    .total {
        padding: 10px;
        /* Asegúrate de que hay suficiente espacio */
    }
}

@media (max-width: 600px) {
    .title {
        font-size: 1.5rem;
        /* Ajustar tamaño del texto aún más */
    }

    .subtitle {
        font-size: 0.9rem;
        /* Ajustar tamaño del subtítulo */
    }

    .ImagenHeader img {
        width: 100%;
        /* Adaptar a la pantalla */
        max-width: 180px;
        /* Límite para móviles */
    }
}


/* Responsive Styles */
/* Estilos generales */

@media (height: 1080px) {
    .title {
        font-size: 2rem;
    }

    .subtitle {
        font-size: 1.2rem;
    }

    * {
        font-size: 1.2rem;
    }
}

/* Estilos responsivos */
@media (max-width: 1080px) {
    .list {
        text-align: center;
        height: 120px;
    }

     .subtitle {
        font-size: 1.2rem;
    }


    .textHeader {

        height: auto;
        padding-bottom: 10%;
    }

    .ir {
        margin: 0 5% 2% 1%;
    }

    .listDescription {
        margin-top: -30px;
    }

    .mgContainer {
        padding: 0;
        position: absolute;
        width: 100%;
        display: flex;
        top: 30%;
        right: 0;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .containerBg {
        padding-top: 20%;
      
        height: 80vh;
    }

    .title {
        font-size: 2rem;
        width: 100%;
        text-align: center;
    }

    .subtitle {
        font-size: 1.2rem;
        width: 100%;
    padding: 1em;
        text-align: center;
    }

    .ingComo {
        width: 70%;
    }

    .listShape {
        width: 45%;
        height: auto;
        margin: 10px;
    }

    .ImagenHeader img {
        display: none;
    }

    .membersImg {
        width: 40%;
        bottom: -10px;
        right: 0;
        margin: auto;
        padding: 1%;
    }
}

@media (max-width: 720px) {
    .list {
        text-align: center;

    }

    #indexHeader {
        flex-direction: column;
        align-items:center;
        text-align: center;
        justify-content: space-around;
        height: auto;
        padding: 1rem;
    }

    #indexHeader a{
       margin-left: 0;
    }

    .listInfoDescript {

        width: 100%;
    }


    .textHeader {
        height: 80vh;
        text-align: center;
        align-items: center;
        justify-content: center;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
    }

    .mgContainer {
        padding: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
.titleHead{
    margin-top: 1%;
   
    margin-bottom: 1%;
}
.dolarText{
    display: none;
}
    .title {
        font-size: 1.2rem;

    }

    .subtitle {
        font-size: 0.7rem;
    }

    .ingComo {
        width: 80%;
    }

    .listShape {
        width: 90%;
        margin: 10px auto;
    }

    .buscador {
        flex-direction: column;
        align-items: stretch;
    }

    .buscador h1 {
        text-align: center;
    }

    .buscador select,
    .buscador .search {
        width: 100%;
        margin: 5px 0;
    }

    .search button img {
        max-width: 50px;
    }

    #Movimientos .tableMovs {
        width: 100%;
    }

    .ImagenHeader img {
        width: 100%;
        max-width: 150px;
        margin: 0 auto;
    }

    .membersImg {
        width: 100%;
        position: relative;
        bottom: 0;
    }

    #aboutUs {
        height: auto;
    }

    .dolarActual{
        margin-top: 1%;
    }
}

/* Ajustes adicionales para mejorar la visualización en móvil */
@media (max-width: 320px) {
    .ImagenHeader img {
        width: 100%;
        max-width: 120px;
        margin: 0 auto;
    }

    .membersImg {
        width: 100%;
        bottom: 0;
        right: 0;
    }

    .listInfoDescript {
        min-width: 100%;
    }

    .listInfoShape {
        width: 100%;
    }
}

/* Responsive Styles for 4K Screens */
@media (min-height: 2160px) {
    body {
        font-size: 18px; /* Aumentar el tamaño de la fuente base */
    }

    #indexHeader {
        height: 8em; /* Aumentar la altura del encabezado */
    }

    #indexHeader a p {
        font-size: 4rem; /* Aumentar el tamaño de los enlaces */
    }


    #indexHeader p{
        font-size: 2em;
        font-weight: 550;
    }
    .mgContainer{
        margin-top: 25em;
    }

    .title {
        font-size: 4em; /* Aumentar el tamaño del título */
    }

    .subtitle {
        font-size: 2.5em; /* Aumentar el tamaño del subtítulo */
    }

    .listShape {
        width: 25%; /* Ajustar el ancho de los elementos de la lista */
        font-size: 2em;
    }

    .ImagenHeader img {
        width: 50%; /* Ajustar el tamaño de la imagen del encabezado */
        max-width: 800px; /* Limitar el ancho máximo */
    }

    .textHeader {
        height: 90vh; /* Aumentar la altura del contenedor de texto */
        padding: 20px; /* Aumentar el espaciado interno */
    }

    .buscador h1 {
        font-size: 28px; /* Aumentar tamaño del título del buscador */
    }

    .buscador select,
    .buscador input {
        font-size: 18px; /* Aumentar tamaño de fuente de los campos de entrada */
    }

    .buscador button {
        font-size: 18px; /* Aumentar tamaño de fuente del botón */
    }

    .text-list-Bod{
        font-size: 1em;
    }

    .ingresarBtn p{
        font-size: 2.5em;
    }

    .menuDesplegable a{
        font-size: 2em;
    }

        .listTitle{
            font-size: 1.5em;
        }
    /* Otros ajustes para mejorar la visibilidad en pantallas 4K */
    .listInfoShape {
        padding: 30px; /* Aumentar espaciado interno */
    }

    .total h3 {
        font-size: 22px; /* Aumentar tamaño del texto total */
    }
}
